<!-- Dialog polyfill -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.10/dialog-polyfill.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.10/dialog-polyfill.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    // DIALOG POLYFILL
    let dialog = document.querySelector(".modal-dialog");
    if (!dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
  });
</script>
